body {
  font-family: Arial, sans-serif;
  font-size:100px;
  background-color: #191281;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0047ab;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* Navigation */
nav {
  background-color: #ddd;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #eee;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

section h2 {
  margin-top: 0;
  font-size: 24px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0047ab;
  color: #fff;
}

td {
  background-color: #f5f5f5;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}